@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
// @import 'lib/swiper-bundle.min.css';

* {
  font-family: 'Courier Prime', monospace;
  // font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
}

html {

}

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #fff4de;
}

img {
}

.container{
  margin: auto;
  padding: 30px;
  max-width: 90%;
  max-width: 1200px;
}

.header{
  background-color: #0b5f46;

  &__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    color: #fff4de;
    font-size: 18px;

    li{

      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.main{
  background-color: #0b5f46;
  &__box{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  &__spiner{
    display: flex;
    flex-direction: column;
    margin: 200px;
  }

  &__spiner-logo{
    position: absolute;
    top: 218px;
    left: 0;
    right: 0;
    margin: auto;
    width: 256px;
    height: 256px;
  }

  &__spiner-text{
    top: 142px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 416px;
    height: 416px;
    animation: rotation 10s infinite linear;

    @keyframes rotation {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
  }

  &__text{
    max-width: 1200px;
  }
}

.comunity{
  background-color:#fff4de;

  &__title{
    font-size: 45px;
  }

  &__text-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__text{
    max-width: 518px;
    font-size: 20px;
  }
}

.photos{
  background-color: #0b5f46;

  &__box{
    display: flex;
    flex-direction: row;
    min-height: 860px;
  }

  &__images{
    position: relative;
  }

  &__image{
    &:nth-child(1){
      position: absolute;
      top: 100px;
    }
    &:nth-child(2){
      position: absolute;
      top: 237px;
      left: 200px;
    }
    &:nth-child(3){
      position: absolute;
      top: 360px;
      left: -50px;
    }
  }

  &__info{
    max-width: 518px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 630px;
    color: #fff4de;
  }
  
  &__title{
    font-size: 45px;
    margin: 0;
  }

  &__text{
    font-size: 18px;
  }

}

.experience{
  background-color: #fff4de;

  &__box{
    position: relative;
    display: flex;
    align-items: center;
  }

  img{
    z-index: 0;
  }

  &__info{
    position: absolute;
    background-color: #0b5f46;
    z-index: 2;
    display: flex;
    flex-direction: column;
    right: 0;
    max-width: 558px;
    padding: 50px;
  }

  &__title{
    color: #fff4de;
    font-size: 36px;
    margin: 0;
  }

  &__text{
    color: #fff4de;
    font-size: 19px;
  }
}

.tuned{
  &__scrolling-text{
    overflow: visible;
  }

  &__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    span{
      font-size: 65px;
      text-transform: uppercase;
    }

    img{
      width: 40px;
    }
    
    &--left{
      color: #0b5f46;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #0b5f46;
      width: 6455px;
      animation: scroll-left 60s infinite linear;
      
      @keyframes scroll-left {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-80%);
        }
      }
    }

    &--right{
      color: #fff4de;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #0b5f46;
      width: 6455px;
      animation: scroll-right 60s infinite linear;
      
      @keyframes scroll-right {
        from {
          transform: translateX(-80%);
        }
        to {
          transform: translateX(0%);
        }
      }
    }
  }
}