@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
// @import 'lib/swiper-bundle.min.css';

* {
  font-family: 'Courier Prime', monospace;
  // font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
}

html {

}

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #fff4de;
}

img {
}

.container{
  margin: auto;
  padding: 30px;
  max-width: 90%;
  max-width: 1200px;
}

.header{
  background-color: #0b5f46;

  &__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    color: #fff4de;
    font-size: 18px;

    li{

      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.main{
  background-color: #0b5f46;
  &__box{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  &__spiner{
    display: flex;
    flex-direction: column;
    margin: 200px;
  }

  &__spiner-logo{
    position: absolute;
    top: 218px;
    left: 0;
    right: 0;
    margin: auto;
    width: 256px;
    height: 256px;
  }

  &__spiner-text{
    top: 142px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 416px;
    height: 416px;
    animation: rotation 10s infinite linear;

    @keyframes rotation {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
  }

  &__text{
    max-width: 1200px;
  }
}

.comunity{
  background-color:#fff4de;

  &__title{
    font-size: 45px;
  }

  &__text-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__text{
    max-width: 518px;
    font-size: 20px;
  }
}

.photos{
  background-color: #0b5f46;

  &__box{
    display: flex;
    flex-direction: row;
    min-height: 860px;
  }

  &__images{
    position: relative;
  }

  &__image{
    &:nth-child(1){
      position: absolute;
      top: 100px;
    }
    &:nth-child(2){
      position: absolute;
      top: 237px;
      left: 200px;
    }
    &:nth-child(3){
      position: absolute;
      top: 360px;
      left: -50px;
    }
  }

  &__info{
    max-width: 518px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 630px;
    color: #fff4de;
  }
  
  &__title{
    font-size: 45px;
    margin: 0;
  }

  &__text{
    font-size: 18px;
  }

}

.experience{
  background-color: #fff4de;

  &__box{
    position: relative;
    display: flex;
    align-items: center;
  }

  img{
    z-index: 0;
  }

  &__info{
    position: absolute;
    background-color: #0b5f46;
    z-index: 2;
    display: flex;
    flex-direction: column;
    right: 0;
    max-width: 558px;
    padding: 50px;
  }

  &__title{
    color: #fff4de;
    font-size: 36px;
    margin: 0;
  }

  &__text{
    color: #fff4de;
    font-size: 19px;
  }
}

.tuned{
  overflow: hidden;

  &__scrolling-text{
    overflow: visible;
  }

  &__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    span{
      font-size: 65px;
      text-transform: uppercase;
    }

    img{
      width: 40px;
    }
    
    &--left{
      color: #0b5f46;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #0b5f46;
      width: 6455px;
      animation: scroll-left 60s infinite linear;
      
      @keyframes scroll-left {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-80%);
        }
      }
    }

    &--right{
      color: #fff4de;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #0b5f46;
      width: 6455px;
      animation: scroll-right 60s infinite linear;
      
      @keyframes scroll-right {
        from {
          transform: translateX(-80%);
        }
        to {
          transform: translateX(0%);
        }
      }
    }

  }

  &__form-box{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    background: #0b5f46;
    height: 580px;
  }

  &__info{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info-title{
    color: #fff4de;
    font-size: 36px;
  }

  &__info-txt{
    color: #fff4de;
    font-size: 18px;
  }

  &__info-form{
    display: flex;
    justify-content: space-between;
    align-items: center;

    input{
      background: #fff4de;
      border: 2px solid transparent;
      padding: 15px;
      color: #0b5f46;
      outline: none;
    }

    a{
      text-decoration: none;
      border: 2px solid #fff4de;
      padding: 15px;
      background: #fff4de;
      color: #0b5f46;
      transition: 0.3s;

      &:hover{
        cursor: pointer;
        background: #0b5f46;
        color: #fff4de;
        transition: 0.3s;
      }
    }
  }

  &__pic{
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

.largest{
  &__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #0b5f46;
    padding: 100px 70px;
    color: #fff4de;
  }

  &__info{
    width: 50%;
  }

  &__title{
    font-size: 33px;
  }

  &__stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-right: -50px;
  }

  &__stat{
    display: flex;
    flex-direction: column;
    margin: 0;

    .number{
      font-size: 55px;
      font-weight: bold;
      margin: 0;
    }

    .text{
      font-size: 13px;
    }
  }
}

.buy{

  &__box{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title{
    font-size: 50px;
    margin: 0;
  }

  &__text{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    font-size: 18px;
    text-align: center;
  }

  &__plans{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 90px 0;
  }

  &__header{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #0b5f46;
    padding-bottom: 10px;
  }

  &__plan{
    font-size: 21px;
    font-weight: bold;
  }

  &__price{
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
  }

  &__center{
    row-gap: 100px;
  }

  &__list{
    padding-left: 0;
  }

  &__element{
    row-gap: 100px;
    margin: 20px;

    &--muted{
      opacity: 30%;
    }
  }

  &__bottom{
    margin: 40px 0;
  }

  &__button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 20px;
    background: #0b5f46;
    color: #fff4de;
    border: 2px solid #0b5f46;
    transition: 0.3s;

    &:hover{
      background: transparent;
      color: #0b5f46;
      transition: 0.3s;
    }
  }
}

.map{

  &__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }

  &__image{
    
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__text{
    border-bottom: 2px solid #0b5f46;
  }

  &__header{
    font-size: 50px;
  }

  &__social{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__email{
    color: #000000;
    transition: 0.3s;

    &:hover{
      color: #0b5f46;
      transition: 0.3s;
    }
  }
}

.footer{
  background: #0b5f46;

  &__box{
    color: #fff4de;
  }

  &__section:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 0 0 30px;
    border-bottom: 2px solid #fff4de;
    align-items: center;
  }

  &__text{
    max-width: 350px;
  }

  &__menu-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
  }

  &__section:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
  }

  &__created{
    color: #fff4de;
    text-decoration: none;
  }
}